[masters]
okd-master-[0:2].exoshift.eu

[etcd]
okd-master-[0:2].exoshift.eu

[nodes]
okd-master-[0:2].exoshift.eu openshift_node_group_name="node-config-master-crio"
okd-infra-[0:1].exoshift.eu openshift_node_group_name="node-config-infra-crio"
okd-node-[0:4].exoshift.eu openshift_node_group_name="node-config-compute-crio"

[lb]
okd-lb-[0:1].exoshift.eu

[OSEv3:children]
masters
nodes
etcd
lb

[OSEv3:vars]
ansible_user=centos
ansible_become=yes
openshift_deployment_type=origin
openshift_release="3.11"

openshift_use_crio=True
openshift_use_crio_only=False
openshift_crio_enable_docker_gc=True

openshift_master_cluster_hostname=openshift.exoshift.eu
openshift_master_cluster_public_hostname=openshift.exoshift.eu
openshift_master_cluster_method=native
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
os_firewall_use_firewalld=true
openshift_docker_additional_registries=index.docker.io

openshift_master_default_subdomain=upstream-okd.exoshift.eu
os_sdn_network_plugin_name=redhat/openshift-ovs-multitenant
osm_cluster_network_cidr=10.52.0.0/14
openshift_portal_net=10.56.0.0/16

openshift_metrics_install_metrics=true
openshift_enable_service_catalog=false
